<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="https://demos.creative-tim.com/soft-ui-design-system/assets/css/nucleo-svg.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/theme.css" />
    <link rel="stylesheet" href="../css/loopple/loopple.css" />
    <script src="/index.js"></script>
    <title>Researchers</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
        <div class="container">
            <a class="navbar-brand w-8" href="/" data-config-id="brand">
                <h3>SERL Lab</h3>
            </a>

            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse"
                data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                <ul class="navbar-nav navbar-nav-hover ms-auto">
                    <li class="nav-item mx-2">
                        <a href="/Faculty" class="nav-link ps-2 cursor-pointer">Faculty</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/Researchers" class="nav-link ps-2 cursor-pointer">Researchers</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/Publication" class="nav-link ps-2 cursor-pointer">Publications</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/Projects" class="nav-link ps-2 cursor-pointer">Projects</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/resources" class="nav-link ps-2 cursor-pointer">Resources</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a href="/contactus" class="nav-link ps-2 cursor-pointer">Contact Us</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item ms-2" id = "login-parent">
                        <a href="../html/login.html" class="btn bg-gradient-dark mb-0">
                           Login
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- "ye button nikal dena, sirf testing ke liye dala hai" - Soham -->
    <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-2" id="admin-research">
            
        </li>
    </ul>

    <!---------------------------------------------Faculty Printing ejs code------------------------------------------------_-->
    
    <div class="row" style="padding:20px;margin:20px;">
        <div class="col-sm-12;">
                <div class="card" style="padding:40px;">
        <h2>Researcher</h2>
    
    <% for (let i=0; i < researcher_data.length; i++) { %>
        <div class="container">
            
            <div class="row row-cols-2 row-cols-md-2 g-0" style="margin-top: 30px; margin-left: 200px">
                    
                <div class="card" style="
            border-bottom-right-radius: 0%;
            border-top-right-radius: 0%;
            width: 350px;
            background-color: lightblue;
          ">
                    <div class="card-body">
                        <h3 class="card-title">
                            Name: <%= researcher_data[i].researcher_Name %>
                        </h3>
                        <p class="card-text">
                            Enrolment Number: <%= researcher_data[i].researcher_roll_Num %>
                            <br />
                            Mentor: <%= researcher_data[i].researcher_Mentor_Name %>
                        </p>
                    </div>
                    
                    <img src="../img/final1.PNG" class="card-img-top" alt="Profile Pic" style="
              width: 300px;
              align-self: center;
              margin-bottom: 30px;
              border-radius: 20px;
            " />
                </div>
                <div class="card" style="
            border-bottom-left-radius: 0%;
            border-top-left-radius: 0%;
            background-color: lightcyan;
          ">  
                    <div class="card-body">
                        <div class="row">
                            <div class="col-10">
                                <p class="card-text">
                                    <strong>
                                        <h5>About me:</h5>
                                    </strong>
                                    <%= researcher_data[i].researcher_Bio %>
                                </p>
                            </div>
                            <div class="col-2" style="width: 20px" id = "modifydel-btn-researcher">
                                <div class="row">
                                    <form action="/editResearcher" method="post">
                                        <button class="btn-sm" id="editResearcher" type="submit" style="background-color: green; width: 40px; border-radius: 4px;border-color: aliceblue;" data-toggle="tooltip" data-placement="top" title="Edit" name="name" value="<%= researcher_data[i].researcher_roll_Num %>">
                                            <i class="fa fa-edit" style="color: white; margin-left: 0px; padding-right: 40px;"></i></button>
                                    </form>
                                </div>
                                <!-- ------------------------------------------------------------------------------ -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="okay">
                                    Launch demo modal
                                  </button>
                                  <!-- ------------------------------------------------------------------------------ -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          ...
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- ------------------------------------------------------------------------------ -->
                                <div class="row">
                                    <form action="/deleteResearcher" method="post">
                                        <button class="btn-sm" id="deleteResearcher" type="submit" style="width: 40px; border-radius: 4px; border-color: aliceblue; background-color: red;"  name="name" value="<%= researcher_data[i].researcher_roll_Num %>" >
                                            <i class="fa fa-trash" style="color: white; margin-left: 0px; padding-right: 40px;"></i></button></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <p class="card-text">
                            <strong>
                                <h5>Researching on:</h5>
                            </strong>
                            <%= researcher_data[i].researcher_Curr_Research %>
                        </p>
                        <p class="card-text">
                            <strong>
                                <h5>Contact me:</h5>
                            </strong>
                        <p>
                            <strong> Personal Contact Number: </strong>
                            <%= researcher_data[i].researcher_Mobile_Number %>
                        </p>
                        <p>
                            <strong> Office Email Address: </strong>
                            <%= researcher_data[i].researcher_CollegeMail %>
                                <br>
                                <strong> Personal Email Number: </strong>
                                <%= researcher_data[i].researcher_PersonalMail %>
                        </p>
                        </p>
                    </div>
                    
                </div>
            </div>

        </div>
        <% } %>

    </div>


            <footer class="footer py-5 bg-gradient-dark position-relative overflow-hidden" style="margin-top: 150px">
                <img src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/img/shapes/waves-white.svg"
                    alt="pattern-lines" class="position-absolute start-0 top-0 w-100 opacity-6" />
                <div class="container position-relative z-index-1">
                    <div class="row">
                        <div class="col-lg-8 me-auto mb-lg-0 mb-4 text-lg-start text-center">
                            <h6 class="text-white font-weight-bolder text-uppercase mb-lg-4 mb-3">
                                SERL@IIITA
                            </h6>
                            <ul class="nav flex-row ms-n3 align-items-center mb-4 mt-sm-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/">
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/Faculty">
                                        Faculty
                                    </a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/Researchers">
                                        Researchers
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/Publication">
                                        Publications
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/Projects">
                                        Projects
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/resources">
                                        Resources
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white opacity-8" href="/contactus">
                                        Contact us
                                    </a>
                                </li>
                            </ul>
                            <p style="font-size: large; color: #fbfbfb">
                                Maintained by rds@iiita.ac.in
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <script src="https://loopple.s3.eu-west-3.amazonaws.com/soft-ui-design-system/js/core/bootstrap.min.js"
                type="text/javascript"></script>
            <script
                src="https://demos.creative-tim.com/soft-ui-design-system/assets/js/soft-design-system.min.js?v=1.0.5"
                type="text/javascript"></script>
            <script src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/countup.min.js"
                type="text/javascript"></script>
            <script
                src="https://demos.creative-tim.com/soft-ui-design-system-pro/assets/js/plugins/flatpickr.min.js"></script>
            <script src="../js/app3.js"></script>
            <script>  
            </script>
</body>

</html>